.first {
    text-align: center;
}

.second {
    margin-left: 76%;
}

.rectangle {
    margin-right: 12%;
    width: 42%;
    height: 165px;
    background: white;
    border: 3px solid black;
    /* margin-left: 772px;
margin-top: -5px; */
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 10%;
}

.photo {
    width: 80%;
}

hr {
    border: 1px solid black;
}

.nameDetails {
    padding-left: 10%;
}
